aws_region         = "us-east-1"
project_name       = "namegen"
environment        = "production"
cluster_name       = "namegen-eks"
kubernetes_version = "1.36"
node_instance_type = "t3.small"
node_desired_size  = 1
